// цвет текста
$primary-color: #d41443;
$secondary-color: #ffffff;
$suptitle-color: #ffa5ba;
$dark-color: #000000;
$description-color: #907e82;

// цвет полосочки
$band-color: #e1e1e1;
$dash-mobmenu-color: #e18298;

// цвет фона
$primary-bgcolor: #fff5f6;
$first-card-bgcolor: #ffb8ca;
$second-card-bgcolor: #f0d1a5;
$third-card-bgcolor: #c2e297;
$reviews-bgcolor: #fafafa;
$mobile-bgcolor: #e17992;
$icon-bgcolor: #fea5bb;

// шрифты
$primary-font: 'DM Sans', sans-serif;
$acent-font: 'Titan One', cursive;
