<section class="advantages">
    <h2 class="visually-hidden"> Преимущество продукта</h2>
    <div class="container advantages__container">
        <ul class="advantages__list list" lang="en">
            <li class=" advantages__items">
                <div class="advantages__img">
                    <img class="advantages__icon" src="./images/advantages/cup1@2x.png" width="33px" height="50px" alt="а glass of milk">
                    <!--<svg class="advantages__icon" width="33px" height="50px">
                        <use href="./images/advantages/cup1@2x.png"></use>
                    </svg>-->
                </div>
                <h3 class="advantages__title advantages__title--bottom">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__items">
                <div class="advantages__img">
                    <img class="advantages__icon-one" src="./images/advantages/cherry1@2x.png" width="50px" height="50px" alt="a bucket of cherries">
                    <!--<svg class="advantages__icon" width="50px" height="50px">
                        <use href="./images/advantages/cherry1@2x.png"></use>
                    </svg>-->
                </div>
                <h3 class="advantages__title advantages__title-bottom">16kg</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__items">
                <div class="advantages__img">
                    <img class="advantages__icon-two" src="./images/advantages/heart1@2x.png" width="44px" height="50px" alt="lollipop">
                    <!--<svg class="advantages__icon" width="44px" height="50px">
                        <use href="./images/advantages/heart1@2x.png"></use>
                    </svg>-->
                </div>
                <h3 class="advantages__title advantages__title-bottom">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>