<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущество продукта</h2>
    <ul class="advantages__list list" lang="en">
      <li class="advantages__items">
        <div class="advantages__img advantages__icon"></div>
        <span class="advantages__title advantages__title-bottom">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__items">
        <div class="advantages__img advantages__icon-one"></div>
        <span class="advantages__title advantages__title-bottom">16kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__items">
        <div class="advantages__img advantages__icon-two"></div>
        <span class="advantages__title advantages__title-bottom">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
