<section class="advantages">
  <h2 class="visually-hidden">Преимущество продукта</h2>
  <div class="container advantages__container">
    <ul class="advantages__list list" lang="en">
      <li class="advantages__items">
        <div class="advantages__img advantages__icon">
          <!--<img
            class="advantages__icon"
            src="./images/advantages/cup1@2x.png"
            width="33"
            height="50"
            alt="а glass of milk"/>-->
        </div>
        <span class="advantages__title advantages__title-bottom">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__items">
        <div class="advantages__img advantages__icon-one">
          <!--<img
            class="advantages__icon-one"
            src="./images/advantages/cherry1@2x.png"
            width="50"
            height="50"
            alt="a bucket of cherries"/>-->
        </div>
        <span class="advantages__title advantages__title-bottom">16kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__items">
        <div class="advantages__img advantages__icon-two">
          <!--<img
            class="advantages__icon-two"
            src="./images/advantages/heart1@2x.png"
            width="44"
            height="50"
            alt="lollipop"/>-->
        </div>
        <span class="advantages__title advantages__title-bottom">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
