
<section id="contact" class="contacts-section">    
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>


    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <div class="city">
          <div class="institution">
            <p class="institution__name">CAFE</p>
          </div>
          <p class="city__name">Chicago</p>
          <p class="city__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="timetable">
          <p class="timetable__day">Monday - Friday</p>
          <p class="timetable__time">06:00 AM - 10:00 PM</p>

          <p class="timetable__day">Saturday - Sunday</p>
          <p class="timetable__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts">
          <a href="tel:+610383766284" class="contacts__phone link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts-list__item">
        <div class="city">
          <div class="institution institution_green">
            <p class="institution__name">FOOD TRUCK</p>
          </div>
          <p class="city__name">Los Angeles</p>
          <p class="city__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="timetable">
          <p class="timetable__day">Monday - Friday</p>
          <p class="timetable__time">06:00 AM - 10:00 PM</p>

          <p class="timetable__day">Saturday - Sunday</p>
          <p class="timetable__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts">
          <a href="tel:+61(0)383766284" class="contacts__phone link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="city">
          <div class="institution">
            <p class="institution__name">CAFE</p>
          </div>
          <p class="city__name">Chicago</p>
          <p class="city__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="timetable">
          <p class="timetable__day">Monday - Friday</p>
          <p class="timetable__time">06:00 AM - 10:00 PM</p>

          <p class="timetable__day">Saturday - Sunday</p>
          <p class="timetable__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts">
          <a href="tel:+61(0)383766284" class="contacts__phone link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
        </div>
      </li>
    </ul>
  </div>

    </div>    

    <div class="contacts-btn-container">
        <button type="button" class="btn-primary btn-primary_acent btn-primary_margin-acent" data-modal-open1>Our Locations
            <svg class="icon-arrow-right">
                <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
        <button type="button" class="btn-primary btn-primary_margin-light" data-modal-open2>Franchise
            <svg class="icon-arrow-right">
                <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>

        <!-- Модальное окно с картой-Our Locations -->
    <div class="backdrop is-hidden" data-modal1>
        <div class="modal">
            <button class="close-btn close-btn__modal" type="button" data-modal-close1>
                <svg class="modal__close-icon" width="30" height="30">
                    <use href="images/sprite/sprite.svg#icon-close-btn"></use>
                </svg>
            </button>
            <h3 class="modal__title">Our cafe <span class="modal__title_suptitle">is located at:</span></h3>
           <iframe class="contacts-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10258.38845131621!2d36.2307831!3d50.0001625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe1a7c9519f39cf1!2z0JrRgNC40YHRgtCw0LvQuw!5e0!3m2!1sru!2sua!4v1619717248700!5m2!1sru!2sua"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!-- Модальное окно с картой-Franchise -->
    <div class="backdrop is-hidden" data-modal2>
        <div class="modal">
         
          <h3 class="modal__title"> Do you need <span class="modal__title_suptitle">a franchise agreement?</span></h3>
          <p class="modal__form-description">Leave a request and get a free consultation</p>
 
          
        <form class="modal-form" action="#" autocomplete="off">
          <label class="modal-form__label">Your name </label>
            <input class="modal-form__input" type="text" name="user-name" autocomplete="off" required/>
         

          <label class="modal-form__label "
            >Your phone number</label>
             <input
                class="modal-form__input modal-form__input-last"
                type="tel"
                name="user-phone"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="093-629-70-70"
                autocomplete="off"
                required
              />
          

          <button type="submit" class="btn-light modal__btn">To get the consultation</button>
          <p class="modal-form__text">&#169; Data protected</p>
        </form>
        
        <button type="button" class="close-btn close-btn__modal"data-modal-close2>
          <svg class="modal__icon-close" width="30" height="30">
            <use href="images/sprite/sprite.svg#icon-close-btn"></use>
          </svg>
        </button>
        </div>
    </div>
</section>



