<footer class="footer">
  <div class="container">
    <div class="footer__nav">
      <div class="footer__heading">
        <p class="suptitle">homemade ice cream made</p>
        <p class="title">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="footer__social_list list">
          <li class="footer__social_item">
            <a
              class="footer__social_link link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social_icon">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social_item">
            <a
              class="footer__social_link link"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social_icon">
                <use href="./images/sprite/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social_item">
            <a
              class="footer__social_link link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social_icon">
                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address class="footer__address">
          <ul class="footer__list list">
            <li class="footer__item">
              <p class="footer__appeal">Feel free to contact&nbsp;</p>
              <a class="footer__tel link" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright_text">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
