<section class="gallery">
    <div class="container">
        <article id="our-products"><h2 class="gallery__title visually-hidden">Gallery Title</h2></article>
       
        <div class="grid">
            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/dog_1x.webp 1x, images/gallery/dog_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/dog_1x.png 1x, images/gallery/dog_@2x.png 2x" type="image/png">
                    <img src="images/gallery/dog_1x.png" alt="dog">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/girl_1x.webp 1x, images/gallery/girl_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/girl_1x.png 1x, images/gallery/girl_@2x.png 2x" type="image/png">
                    <img src="images/gallery/girl_1x.png" alt="girl">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/cake_1x.webp 1x, images/gallery/cake_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/cake_1x.png 1x, images/gallery/cake_@2x.png 2x" type="image/png">
                    <img src="images/gallery/cake_1x.png" alt="cake">
                </picture>
            </div>

            <div class="grid__item animate__pulse grid__item_gigante">
                <picture>
                    <source srcset="images/gallery/icecream-cone_1x.webp 1x, images/gallery/icecream-cone_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/icecream-cone_1x.png 1x, images/gallery/icecream-cone_@2x.png 2x" type="image/png">
                    <img src="images/gallery/icecream-cone_1x.png" alt="icecream-cone">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/hand_1x.webp 1x, images/gallery/hand_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/hand_1x.png 1x, images/gallery/hand_@2x.png 2x" type="image/png">
                    <img src="images/gallery/hand_1x.png" alt="hand">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/icecream_1x.webp 1x, images/gallery/icecream_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/icecream_1x.png 1x, images/gallery/icecream_@2x.png 2x" type="image/png">
                    <img src="images/gallery/icecream_1x.png" alt="icecream">   
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/icecream-berry_1x.webp 1x, images/gallery/icecream-berry_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/icecream-berry_1x.png 1x, images/gallery/icecream-berry_@2x.png 2x" type="image/png">
                    <img src="images/gallery/icecream-berry_1x.png" alt="icecream-berry">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/icecream-pink_1x.webp 1x, images/gallery/icecream-pink_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/icecream-pink_1x.png 1x, images/gallery/icecream-pink_@2x.png 2x" type="image/png">
                    <img src="images/gallery/icecream-pink_1x.png" alt="icecream-pink">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/iceinhand_1x.webp 1x, images/gallery/iceinhand_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/iceinhand_1x.png 1x, images/gallery/iceinhand_@2x.png 2x" type="image/png">
                    <img src="images/gallery/iceinhand_1x.png" alt="iceinhand">
                </picture>
            </div>

            <div class="grid__item animate__pulse">
                <picture>
                    <source srcset="images/gallery/latte_1x.webp 1x, images/gallery/latte_@2x.webp 2x" type="image/webp">
                    <source srcset="images/gallery/latte_1x.png 1x, images/gallery/latte_@2x.png 2x" type="image/png">
                    <img src="images/gallery/latte_1x.png" alt="latte">
                </picture>
            </div>
        </div>
    </div>
</section>