<section class="gallery">
    <div class="container">
        <h2 class="gallery__title visually-hidden">Gallery Title</h2>
        <!-- <picture>
            <source srcset="images/desktop/gallery/galleryd1@1x.webp 1x, images/desktop/gallery/galleryd1@2x.webp 2x" type="image/webp" media="(min-width: 1280px)">
            <source srcset="images/desktop/gallery/galleryd1@1x.jpg 1x, images/desktop/gallery/galleryd1@2x.jpg 2x" type="image/jpeg" media="(min-width: 1280px)">
            <source srcset="images/tablet/gallery/galleryt1@1x.webp 1x, images/tablet/gallery/galleryt1@2x.webp 2x" type="image/webp" media="(min-width: 768px)">
            <source srcset="images/tablet/gallery/galleryt1@1x.jpg 1x, images/tablet/gallery/galleryt1@2x.jpg 2x" type="image/jpeg" media="(min-width: 768px)">
            <source srcset="images/mobile/gallery/gallerym1@1x.webp 1x, images/mobile/gallery/gallerym1@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
            <source srcset="images/mobile/gallery/gallerym1@1x.jpg 1x, images/mobile/gallery/gallerym1@2x.jpg 2x" type="image/jpeg" media="(max-width: 767px)">
            <img src="images/mobile/gallery/gallerym1@1x.jpg" alt="Ice cream products">
        </picture> -->

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item"><img src="images/gallery/cake_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/dog_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/girl_1x.png" alt=""></div>
            <div class="grid-item grid-item--gigante"><img src="images/gallery/icecream-cone_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/hand_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/icecream_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/icecream-berry_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/icecream-pink_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/iceinhand_1x.png" alt=""></div>
            <div class="grid-item"><img src="images/gallery/latte_1x.png" alt=""></div>
        </div>
    </div>
</section>