<section class="gallery">
    <div class="container">
        <h2 class="gallery__title visually-hidden">Gallery Title</h2>
        <!-- <picture>
            <source srcset="images/desktop/gallery/galleryd1@1x.webp 1x, images/desktop/gallery/galleryd1@2x.webp 2x" type="image/webp" media="(min-width: 1280px)">
            <source srcset="images/desktop/gallery/galleryd1@1x.jpg 1x, images/desktop/gallery/galleryd1@2x.jpg 2x" type="image/jpeg" media="(min-width: 1280px)">
            <source srcset="images/tablet/gallery/galleryt1@1x.webp 1x, images/tablet/gallery/galleryt1@2x.webp 2x" type="image/webp" media="(min-width: 768px)">
            <source srcset="images/tablet/gallery/galleryt1@1x.jpg 1x, images/tablet/gallery/galleryt1@2x.jpg 2x" type="image/jpeg" media="(min-width: 768px)">
            <source srcset="images/mobile/gallery/gallerym1@1x.webp 1x, images/mobile/gallery/gallerym1@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
            <source srcset="images/mobile/gallery/gallerym1@1x.jpg 1x, images/mobile/gallery/gallerym1@2x.jpg 2x" type="image/jpeg" media="(max-width: 767px)">
            <img src="images/mobile/gallery/gallerym1@1x.jpg" alt="Ice cream products">
        </picture> -->

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item"><img src="images/gallery/pic1.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic2.jpg" alt=""></div>
            <div class="grid-item grid-item-big"><img src="images/gallery/pic4.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic3.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic5.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic6.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic7.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic8.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic9.jpg" alt=""></div>
            <div class="grid-item"><img src="images/gallery/pic99.jpg" alt=""></div>
        </div>
    </div>
</section>