<header class="header">
  <div class="header__container container">
    <a href="index.html">
      <img
        class="header__logo"
        srcset="./images/header-logo/logo1@1x.png 1x, ./images/header-logo/logo1@2x.png 2x"
        src="./images/header-logo/logo1@1x.png"
        alt="логотип мороженное"
      />
    </a>
    <nav class="navigation">
      <ul class="list navigation__list">
        <li class="navigation__item">
          <a href="#home" class="navigation__link link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#about-us" class="navigation__link link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#how-its-made" class="navigation__link link">How it's made?</a>
        </li>
        <li class="navigation__item">
          <a href="#our-products" class="navigation__link link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#contact" class="navigation__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__menu_btn">
      <button class="burger-btn" type="button" data-menu-button>
        <svg class="icon-burger" width="28" height="30">
          <use href="./images/sprite/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button type="button" class="btn-light buy-now__btn">
        Buy now
        <svg class="icon-arrow-right">
          <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- MOBILE MENU/МОБИЛЬНОЕ МЕНЮ -->
  <div class="mobile-menu" data-menu>
    <button class="close-btn close-btn__mobile" type="button" data-menu-close>
      <svg class="close-btn__mobile-icon" width="30" height="30">
        <use href="./images/sprite/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <a href="#" class="link">
      <button type="button" class="btn-light buy-now__btn-mobile">
        Buy now
        <svg class="icon-arrow-right icon-arrow-right_margin">
          <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </a>
    <nav class="mobile-menu__navigation">
      <ul class="list mobile-menu__list">
        <li class="mobile-menu__item mobile-menu__item-dash">
          <a href="#home" class="mobile-menu__link link">Home</a>
        </li>
        <li class="mobile-menu__item mobile-menu__item-dash">
          <a href="#about-us" class="mobile-menu__link link">About us</a>
        </li>
        <li class="mobile-menu__item mobile-menu__item-dash">
          <a href="#how-its-made" class="mobile-menu__link link">How it's made?</a>
        </li>
        <li class="mobile-menu__item mobile-menu__item-dash">
          <a href="#our-products" class="mobile-menu__link link">Our products</a>
        </li>
        <li class="mobile-menu__item mobile-menu__item-dash mobile-menu__item-dash_bottom">
          <a href="#contact" class="mobile-menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
