<header class="header">
  <a href="#home" class="home__link link scrollto home__link_fixed">home</a>
  <div class="header__container container">
    <a href="index.html">
      <img
        class="header__logo"
        srcset="./images/header-logo/logo1@1x.png 1x, ./images/header-logo/logo1@2x.png 2x"
        src="./images/header-logo/logo1@1x.png"
        alt="логотип мороженное"
      />
    </a>
    <nav class="navigation">
      <ul class="list navigation__list">
        <li class="navigation__item">
          <a href="#home" class="navigation__link link scrollto">Home</a>
        </li>
        <li class="navigation__item">
          <div>
            <a href="#about-us" class="navigation__link link scrollto">About us</a>
          </div>
        </li>
        <li class="navigation__item">
          <a href="#how-its-made" class="navigation__link link scrollto">How it's made?</a>
        </li>
        <li class="navigation__item">
          <a href="#our-products" class="navigation__link link scrollto">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#contact" class="navigation__link link scrollto">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__menu_btn">
      <!-- иконка бургер меню -->
      <button class="burger-btn" type="button" data-modal-open>
        <svg class="icon-burger" width="30" height="32">
          <use href="./images/sprite/sprite.svg#icon-menu"></use>
        </svg>
      </button>

      <button type="button" class="btn-light buy-now__btn" data-modal-open3>
        Buy now
        <svg class="icon-arrow-right">
          <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- MOBILE MENU/МОБИЛЬНОЕ МЕНЮ -->

  <!-- для моб.меню -->
  <div class="backdrop is-hidden_madal" data-modal>
    <div class="mobile-menu">
      <button class="close-btn close-btn__mobile" type="button" data-modal-close>
        <svg class="close-btn__mobile-icon" width="30" height="30">
          <use href="./images/sprite/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>

      <button type="button" class="btn-light buy-now__btn-mobile" data-modal-open4>
        Buy now
        <svg class="icon-arrow-right icon-arrow-right_margin">
          <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <nav class="mobile-menu__navigation">
        <ul class="list mobile-menu__list">
          <li class="mobile-menu__item mobile-menu__item-dash">
            <a href="#home" class="mobile-menu__link link scrollto">Home</a>
          </li>
          <li class="mobile-menu__item mobile-menu__item-dash">
            <a href="#about-us" class="mobile-menu__link link scrollto">About us</a>
          </li>
          <li class="mobile-menu__item mobile-menu__item-dash">
            <a href="#how-its-made" class="mobile-menu__link link scrollto">How it's made?</a>
          </li>
          <li class="mobile-menu__item mobile-menu__item-dash">
            <a href="#our-products" class="mobile-menu__link link scrollto">Our products</a>
          </li>
          <li class="mobile-menu__item mobile-menu__item-dash mobile-menu__item-dash_bottom">
            <a href="#contact" class="mobile-menu__link link scrollto">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- для кнопки buy-now -->
  <div class="backdrop is-hidden" data-modal3 data-modal4>
    <div class="modal is-hidden__modal">
      <button type="button" class="close-btn close-btn__modal" data-modal-close3>
        <svg class="modal__icon-close" width="30" height="30">
          <use href="./images/sprite/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
      <b class="header-title suptitle"
        >Do you want <span class="header-title_suptitle"> the most delicious ice cream?</span>
      </b>
      <form action="#" class="header-modal" autocomplete="off">
        <label for="name" class="header-modal__label">Name</label>

        <input
          type="text"
          name="user-name"
          id="name"
          class="header-modal__input"
          minlength="2"
          required
          autocomplete="off"
        />

        <label for="phone" class="header-modal__label">Phone</label>

        <input
          type="tel"
          name="user-phone"
          id="phone"
          class="header-modal__input"
          title="+61(0)383766284"
          required
        />

        <label for="comment" class="header-modal__label">Comment</label>
        <textarea
          class="header-modal__textarea header-modal__input"
          name="user-comment"
          id="comment"
          placeholder="Enter text"
          required
        ></textarea>

        <button type="submit" class="btn-light header-modal_btn">send</button>
      </form>
    </div>
  </div>
</header>
