<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with <span class="hero__span">passion</span></h1>
    <ul class="hero__list list">
      <li class="hero__item"><a href="#products" class="hero__link link">Products</a></li>
      <li class="hero__item">
        <a href="#How it’s made?" class="hero__link link">How it’s made?</a>
      </li>
    </ul>
    <div class="hero__wrapper">
      <div class="hero__circle"></div>
      <picture class="picture">
        <source
          srcset="
            ./images/desktop/hero/icecreamd1@1x.webp 1x,
            ./images/desktop/hero/icecreamd1@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/hero/icecreamd1@1x.png 1x,
            ./images/desktop/hero/icecreamd1@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hero/icecreamt1@1x.webp 1x,
            ./images/tablet/hero/icecreamt1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/hero/icecreamt1@1x.png 1x,
            ./images/tablet/hero/icecreamt1@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/hero/icescreamm1@1x.webp 1x,
            ./images/mobile/hero/icescreamm1@2x.webp 2x
          "
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/mobile/hero/icescreamm1@1x.png 1x,
            ./images/mobile/hero/icescreamm1@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="hero__img_main"
          src="./images/mobile/hero/icescreamm1@1x.png"
          alt="delicious ice cream"
        />
      </picture>

      <picture class="picture">
        <source
          srcset="./images/desktop/hero/milkd1@1x.webp 1x, ./images/desktop/hero/milkd1@2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/hero/milkd1@1x.png 1x, ./images/desktop/hero/milkd1@2x.png 2x"
          media="(min-width: 1280px)"
        />

        <source
          srcset="./images/tablet/hero/milkt1@1x.webp 1x, ./images/tablet/hero/milkt1@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />

        <source
          srcset="./images/tablet/hero/milkt1@1x.png 1x, ./images/tablet/hero/milkt1@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./images/tablet/hero/milkt1@1x.png" alt="fresh milk" class="hero__img_left" />
      </picture>
      <picture class="picture">
        <source
          srcset="
            ./images/desktop/hero/icegirld1@1x.webp 1x,
            ./images/desktop/hero/icegirld1@2x.webp 2x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/hero/icegirld1@1x.png 1x,
            ./images/desktop/hero/icegirld1@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hero/icegirlt1@1x.webp 1x,
            ./images/tablet/hero/icegirlt1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/hero/icegirlt1@1x.png 1x,
            ./images/tablet/hero/icegirlt1@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="hero__img_right"
          src="./images/tablet/hero/icegirlt1@1x.png"
          alt="girl eating ice cream"
        />
      </picture>
    </div>
    <div class="hero__overlay">
      <p class="hero__overlay_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a href="#" class="hero__overlay_btn"
        ><svg class="hero__overlay_icon" width="6" height="6">
          <use href="./images/sprite/sprite.svg#icon-arrow-right2"></use>
        </svg>
      </a>
    </div>
    <ul class="mini-circle list">
      <li class="mini-circle__item"><div class="mini-circle__wrapper"></div></li>
      <li class="mini-circle__item"><div class="mini-circle__wrapper"></div></li>
    </ul>

    <ul class="hero-avantages list">
      <li class="hero-avantages__item">
        <p class="hero__text">16</p>
        <p class="hero__suptext">cafes</p>
      </li>
      <li class="hero-avantages__item">
        <p class="hero__text">23</p>
        <p class="hero__suptext">food trucks</p>
      </li>
    </ul>
  </div>
</section>
