<section id="about-us" class="products">
  <div id="about-us-hero" class="container">
    <p class="suptitle">100% natural</p>
    <h2 class="title wow animate__animated animate__zoomInLeft">products</h2>

    <ul class="products__social_list list">
      <li class="products__social_item ice_cream">
        <picture>
          <source
            srcset="
              ./images/desktop/product/icecreamd1@1x.webp 1x,
              ./images/desktop/product/icecreamd1@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/product/icecreamd1@1x.png 1x,
              ./images/desktop/product/icecreamd1@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img class="products__img" src="./images/desktop/product/icecreamd1@1x.png" alt="" />
        </picture>
        <h3 class="products__social_title">ice cream</h3>
        <!-- <img class="products__img_dots" src="./images/png/three-dots.png" alt=""> -->

        <p class="products__social_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="product-overlay">
          <div class="product-overlay__wrapper">
            <button type="button" class="products__btn">
              <svg class="products__btn_icon">
                <use href="./images/sprite/sprite.svg#icon-arrow-right2"></use>
              </svg>
            </button>
            <div class="product-overlay__position">
              <p class="products__overlay_text products__social_text">
                Vanilla. Chocolate. Cookies N' Cream. Mint Chocolate Chip. Chocolate Chip Cookie
                Dough. Buttered Pecan. Cookie Dough. Strawberry. Mint Chocolate Chip. Chocolate.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="products__social_item ice_coffee">
        <picture>
          <source
            srcset="
              ./images/desktop/product/icecoffed1@1x.webp 1x,
              ./images/desktop/product/icecoffed1@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/product/icecoffed1@1x.png 1x,
              ./images/desktop/product/icecoffed1@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img class="products__img" src="./images/desktop/product/icecoffed1@1x.png" alt="" />
        </picture>
        <h3 class="products__social_title">ice coffee</h3>
        <p class="products__social_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="product-overlay">
          <div class="product-overlay__wrapper">
            <button type="button" class="products__btn">
              <svg class="products__btn_icon">
                <use href="./images/sprite/sprite.svg#icon-arrow-right2"></use>
              </svg>
            </button>
            <div class="product-overlay__position position-coffe">
              <p class="products__overlay_text products__social_text">
                Cappuccino on Ice. Creamy Iced Coffee. Iced Caramel Macchiato. Easy Iced Coffee.
                Cold-Brewed Coffee. Vietnamese Iced Coffee. Chocolate-y Iced Mocha. Iced Caramel
                Macchiato.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="products__social_item milkshakes">
        <picture>
          <source
            srcset="
              ./images/desktop/product/milksd1@1x.webp 1x,
              ./images/desktop/product/milksd1@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/product/milksd1@1x.png 1x,
              ./images/desktop/product/milksd1@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img class="products__img" src="./images/desktop/product/milksd1@1x.png" alt="" />
        </picture>
        <h3 class="products__social_title">milkshakes</h3>
        <p class="products__social_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="product-overlay">
          <div class="product-overlay__wrapper">
            <button type="button" class="products__btn">
              <svg class="products__btn_icon">
                <use href="./images/sprite/sprite.svg#icon-arrow-right2"></use>
              </svg>
            </button>
            <div class="product-overlay__position position-milk">
              <p class="products__overlay_text products__social_text">
                Vanilla special. Cool mint. Strawberry marshallow. Blueberry cheesecake. Raspberry
                and white chocolate. Pina colada. Triple nut caramel. Neapolitan. Vanilla special.
                Cool mint.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
