<section class="products">
    <div class="products__container container">
        <span class="products__label">
            100% natural
        </span>
        <h1 class="products__title title">
            products
        </h1>
       <ul class="products__grid"> 
           <li class="products__item list">
            <div class="products__box">
                <img src="/src/images/mobile/product/icecoffem1@1x.png">
                <img src="/src/images/mobile/product/icecoffem1@1x.webp">
                <h2 class="products__name name">
                 ice cream
                 </h2>
                 <p class="products__info info">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            <div class="products__tab"></div> 
             </div>
           </li>
           <li class="products__item list">
            <div class="products__box">
                <img src="/src/images/mobile/product/icecoffem1@2x.png">
                <img src="/src/images/mobile/product/icecoffem1@2x.webp">
                <h2 class="products__name name">
                    ice coffee
                 </h2>
                 <p class="products__info info">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            <div class="products__tab"></div> 
             </div>
           </li>
           <li class="products__item list">
            <div class="products__box">
                <img src="/src/images/mobile/product/icecream1@1x.png">
                <img src="/src/images/mobile/product/icecream1@1x.webp">
                <h2 class="products__name name">
                    milkshakes
                 </h2>
                 <p class="products__info info">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            <div class="products__tab"></div> 
             </div>
           </li>
       </ul>

        </div>
    </div>
</section>
