<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">reviews</h2>
        <div class="slick">
            <div class="slick__item">
                <img class="reviews__client--icon" src="images/costumer/cost1@1x.png" width="85px" height="85px" alt="1@1x">
                <div class="reviews__client--border">
                    <p class="reviews__client--text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="reviews__client--name">Emily, Los Angeles</p>
            </div>
        </div>
    </div>
</section>