// для описания стилей бэкдропа секции about
.backdrop {
  position: fixed;
  z-index: 501;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 184, 202, 0.149);

  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transform: scale(1);
  transition: transform 400ms linear;
}

// для описания стилей бэкдропа секции contacts
