// для описания стилей всех кнопок
.btn-light {
  @include flex-center;
  padding: 11px 38px;

  font-family: $primary-font;
  @include font(700, 14px, 18px, 0em);

  color: $primary-color;
  background: $secondary-color;
  border-radius: 22px;
  border-color: transparent;

  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: $secondary-color;
    background: $primary-color;
  }
}

// стрелочка-иконка для кнопки
.icon-arrow-right {
  margin-left: 10px;
  fill: currentColor;
  width: 15px;
  height: 10px;

  &_margin {
    margin-left: 17px;
    @media screen and (min-width: 768px) {
      margin-left: 15px;
    }
  }
}

// кнопка закрытия
.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: transparent;

  background-color: transparent;
  fill: $secondary-color;

  cursor: pointer;
  transition: fill 250ms linear;

  &:hover,
  &:focus {
    fill: $primary-color;
  }

  &__modal {
    top: 8px;
    right: 8px;
  }

  &__mobile {
    top: 20px;
    right: 25px;

    &:hover,
    &:focus {
      fill: $primary-color;
    }

    @media screen and (min-width: 1280px) {
      right: 34px;
    }
  }
}

// header- кнопка
.buy-now__btn {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include font(700, 16px, 21px, 0.05em);
    margin-left: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 6px;
  }
}

// contacts-розовая кнопка
.contacts-accent-btn {
  padding: 11px 18px;

  color: $secondary-color;
  background-color: $primary-color;

  &:hover,
  &:focus {
    color: $primary-color;
    background-color: $secondary-color;
  }

  @media screen and(max-width:767px) {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  @media screen and(min-width:768px) {
    padding: 11px 32px;
    margin-right: 15px;
  }

  @media screen and(min-width:1280px) {
    padding: 11px 36px;
  }
}

// contacts-белая кнопка
.contacts-light-btn {
  padding: 10px 32px;

  @media screen and(max-width:767px) {
    margin: 0 auto;
  }
  @media screen and(min-width:768px) {
    padding: 10px 38px;
  }

  @media screen and(min-width:1280px) {
    padding: 11px 40px;
  }
}
