// для описания стилей модального окна
.modal__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: $acent-font;
  @include font(400, 30px, 34px, 0.04em);
  text-transform: uppercase;

  color: $primary-color;

  &::after {
    content: '';
    // background-image: url(../images/png/three-dots.png);
    background-color: $secondary-color;
    display: block;
    border-radius: 2px;
    width: 26px;
    height: 6px;
    // color: $secondary-color;
  }
}

.modal__description {
  font-family: $primary-font;
  @include font(700, 16px, 28px, 0.04em);
  text-align: center;

  color: $secondary-color;
}
