.modal-contacts {
  position: absolute;
  z-index: 505;

  width: 80%;
  height: 80%;
  padding: 5px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;

  background-color: $first-card-bgcolor;

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 620px;
    border-radius: 3%;
  }
}

.modal__close-btn {
  @include flex-center;
  cursor: pointer;

  position: absolute;
  top: 5px;
  right: 5px;

  fill: #fff;
  background-color: inherit;
  border: 1px solid transparent;
  border-radius: 50%;
}

.modal__close-icon {
  transition: fill 250ms linear;

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: $primary-color;
  }
}

.modal-contacts--text {
  margin-bottom: 10px;
  color: #fff;
}

.size-map {
  width: 90%;
  height: 90%;
}
