// для описания стилей модального окна
.modal__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: $acent-font;
  @include font(400, 22px, 22px, 0.02em);
  text-transform: uppercase;

  color: $primary-color;
}

.modal__description {
  font-family: $primary-font;
  @include font(400, 20px, 25px, 0.04em);
  text-transform: uppercase;

  color: $suptitle-color;
}
