// для описания надзаголовка (h3)
.suptitle {
  margin-bottom: 15px;

  font-family: $acent-font;
  @include font(400, 18px, 21px, 0em);
  text-transform: uppercase;

  color: $suptitle-color;

  @media screen and (min-width: 768px) {
    @include font(400, 26px, 30px, 0em);
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 30px, 34px, 0.04em);
  }
}
