// для описания стилей заголовка (h2)
.title {
  font-family: $acent-font;
  @include font(400, 34px, 39px, 0.04em);
  text-transform: uppercase;

  color: $primary-color;

  @media screen and (min-width: 768px) {
    @include font(400, 48px, 55px, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 66px, 0.06em);
  }

  &_center {
    text-align: center;
  }
}

.title-about {
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
  }
}
