.about {
  position: relative;
  padding-top: 125px;
  padding-bottom: 20px;

  background-color: $primary-bgcolor;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
  }
}

.flex-box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.cow-image-box {
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 339px;
    margin-right: 17px;
  }

  @media screen and (min-width: 1280px) {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
}

.description-box {
  @media screen and (max-width: 767px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-top: 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    margin-top: 56px;
  }
}

.lead {
  margin-bottom: 30px;

  font-family: $primary-font;
  @include font(500, 12px, 19px, 0em);

  color: $dark-color;

  @media screen and (min-width: 768px) {
    @include font(500, 14px, 25px, 0em);
  }

  @media screen and (min-width: 1280px) {
    @include font(500, 16px, 28px, 0.04em);
  }
}

.description {
  margin-bottom: 12px;

  font-family: $primary-font;
  @include font(500, 12px, 19px, 0em);

  color: $description-color;

  @media screen and (min-width: 768px) {
    @include font(500, 14px, 25px, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include font(500, 14px, 27px, 0.04em);
  }
}

.text {
  @extend .description;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}

.milk-image-box {
  position: absolute;
  // z-index: 0;
  bottom: 80px;
  right: 0;
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: none;
  }
}
