.advantages {
    position: relative;
    background-color: $primary-bgcolor;

    @media screen and (min-width: 320px) {
        padding-top: 20px;
        padding-bottom: 70px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 33px;
        padding-bottom: 70px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 20px;
        padding-bottom: 49px;
    }

}

/*.advantages__container {
        
    @media screen and (min-width: 320px) {
        padding-top: 20px;
        padding-bottom: 70px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 33px;
        padding-bottom: 70px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 20px;
        padding-bottom: 49px;
    }
}*/

.advantages__list {
    /*margin-left: auto;
    margin-right: auto;*/
    @media screen and (max-width: 320px) {
        max-width: 450px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: center;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
    }
}

.advantages__items {
    @media screen and (min-width: 320px) {
        max-width: 450px;
        justify-items: center;
        margin-bottom: 35px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
      
      @media screen and (min-width: 1280px) {
        width: calc((100% - 120px) / 3);
        &:not(:first-child) {
          margin-left: 30px;
        }
    }
}

.advantages__img {
   @mixin flex-start {}
    /*display: flex;
    justify-content: flex-start;
    align-items: center;*/

    @media screen and (min-width: 320px) {
        padding-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 36px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 36px;
    }
}

.advantages__icon {
    width: 33px;
    height: 50px;
}

.advantages__icon-one {
    width: 50px;
    height: 50px;
}

.advantages__icon-two {
    width: 44px;
    height: 50px;
}

.advantages__title {
    font-family: $acent-font;
    color: $primary-color;
    @include font(400, 48px, 55px, 0.04em);
    /*font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;*/

    &-bottom {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        color: $primary-color;
        @include font(400, 38px, 42px, 0.04em);
        /*font-size: 38px;
        line-height: 42px;
        letter-spacing: 0.04em;*/
        text-align: left;
    }
}

.advantages__text {
    font-family: $primary-font;
    color: $dark-color;
    font-weight: bold;
    
    @media screen and (min-width: 320px) {
        @include font(700, 12px, 20px, 0.02em);
        /*font-size: 12px;
        line-height: 170%;
        /* or 20px */
        /*letter-spacing: 0.02em;*/
        margin-right: 15px;
    }

    @media screen and (min-width: 768px) {
        @include font(700, 14px, 24px, 0.02em);
        /*font-size: 14px;
        line-height: 174%;
        /* or 24px */
        /*letter-spacing: 0.02em;*/
        margin-right: 15px;
    }

    @media screen and (min-width: 1280px) {
        @include font(700, 16px, 28px, 0.02em);
        /*font-size: 16px;
        line-height: 176%;
        /* or 28px */
        /*letter-spacing: 0.02em;*/
    }
}
