.contacts-section {
  background-image: linear-gradient(to bottom, $secondary-color 8%, $primary-bgcolor 8%);
  padding-top: 43px;
  padding-bottom: 57px;
}

.contacts-list {
  &__item {
    padding: 43px 21px;
    background: $secondary-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and(max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      max-width: 220px;
      margin: 0 auto;
    }
  }

  &__mail-phone-container {
    padding-top: 25px;
  }
}

.city {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $dark-color;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: (18 / 12);
    color: $description-color;
  }
}

.timetable {
  border-bottom: 1px solid #e1e1e1;
  padding: 25px 0;

  &__day {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $dark-color;
  }

  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $suptitle-color;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts {
  padding-top: 25px;

  &__phone,
  &__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: (18 / 12);
    color: $description-color;
  }
}

.institution {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $second-card-bgcolor;
  border-radius: 6px;
  width: 80px;
  height: 16px;

  &_green {
    width: 130px;
    background: $third-card-bgcolor;
  }

  &__name {
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $secondary-color;
  }
}

.contacts-btn {
  @media screen and(max-width:767px) {
    margin: 54px auto 0 auto;
  }
  padding: 10px 15px;
  background: #d41342;
  border-radius: 22px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: (21 / 16);
  display: flex;
  align-items: baseline;
  justify-content: center;

  color: $secondary-color;
  &__icon {
    fill: $secondary-color;
    margin-left: 10px;
    width: 17px;
    height: 12px;
  }
}

.contacts-btn-white {
  @media screen and(max-width:767px) {
    margin: 10px auto 0 auto;
  }

  padding: 10px 15px;
  background: $secondary-color;
  border-radius: 22px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: (21 / 16);
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: $primary-color;
  fill: $primary-color;
  &__icon {
    margin-left: 10px;
    font-size: 16px;
    width: 17px;
    height: 12px;
  }
}

@media screen and(min-width:768px) {
  .contacts-section {
    padding-top: 60px;
    padding-bottom: 76px;
    background-image: linear-gradient(to bottom, $secondary-color 15%, $primary-bgcolor 10%);
  }

  .contacts-list {
    display: flex;

    &__item {
      width: 32%;
      padding: 50px 32px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .institution {
    margin-bottom: 30px;
    width: 73px;
    height: 28px;
    &_green {
      width: 138px;
    }

    &__name {
      font-size: 16px;
      line-height: (30 / 16);
    }
  }

  .city {
    padding-bottom: 30px;
    &__name {
      font-size: 14px;
      line-height: (26 / 14);
    }
    &__description {
      font-size: 14px;
      line-height: (23 / 14);
    }
  }

  .timetable {
    padding-bottom: 30px;
    padding-top: 30px;
    &__day {
      font-size: 14px;
      line-height: (26 / 14);
    }
    &__time {
      font-size: 14px;
      line-height: (26 / 14);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .contacts {
    padding-top: 30px;
    &__phone,
    &__mail {
      font-size: 14px;
      line-height: (26 / 14);
    }
  }

  .contacts-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 86px;
  }

  .contacts-btn {
    padding: 10px 29px;
    margin-right: 15px;
  }

  .contacts-btn-white {
    padding: 10px 20px;
  }
}

@media screen and(min-width:1200px) {
  .contacts-section {
    padding-top: 66px;
    padding-bottom: 82px;
    background-image: linear-gradient(to bottom, $secondary-color 15%, $primary-bgcolor 10%);
  }

  .contacts-list {
    display: flex;

    &__item {
      width: 32%;
      padding: 50px 32px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .institution {
    margin-bottom: 30px;
    &__name {
      font-size: 16px;
      line-height: (30 / 16);
    }
  }

  .city {
    padding-bottom: 30px;
    &__name {
      font-size: 14px;
      line-height: (26 / 14);
    }
    &__description {
      font-size: 14px;
      line-height: (23 / 14);
    }
  }

  .timetable {
    padding-bottom: 30px;
    padding-top: 30px;
    &__day {
      font-size: 14px;
      line-height: (26 / 14);
    }
    &__time {
      font-size: 14px;
      line-height: (26 / 14);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .contacts {
    padding-top: 30px;
    &__phone,
    &__mail {
      font-size: 14px;
      line-height: (26 / 14);
    }
  }

  .contacts-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 86px;
  }

  .contacts-btn {
    padding: 10px 29px;
    margin-right: 15px;
  }

  .contacts-btn-white {
    padding: 10px 20px;
  }
}
