.contacts-section {
  background-image: linear-gradient(to bottom, $secondary-color 8%, $primary-bgcolor 8%);
  padding-top: 43px;
  padding-bottom: 57px;
}

.contacts-list {
  margin-bottom: 54px;

  &__item {
    padding: 43px 21px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    background: $secondary-color;

    @media screen and(max-width:767px) {
      max-width: 220px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__mail-phone-container {
    padding-top: 25px;
  }
}

.city {
  border-bottom: 1px solid $band-color;
  padding-bottom: 25px;

  &__name {
    margin-bottom: 10px;
    @include font(500, 12px, 22px, 0.04em);
    color: $dark-color;
  }

  &__description {
    @include font(500, 12px, 18px, 0em);
    color: $description-color;
  }
}

.timetable {
  border-bottom: 1px solid $band-color;
  padding: 25px 0;

  &__day {
    @include font(500, 12px, 22px, 0em);
    color: $dark-color;
  }

  &__time {
    @include font(500, 12px, 22px, 0em);
    color: $suptitle-color;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts {
  padding-top: 25px;

  &__phone,
  &__mail {
    @include font(500, 12px, 18px, 0em);
    color: $description-color;
  }
}

.institution {
  margin-bottom: 25px;
  @include flex-center;
  background: $second-card-bgcolor;
  border-radius: 6px;
  width: 80px;
  height: 16px;

  &_green {
    width: 130px;
    background: $third-card-bgcolor;
  }

  &__name {
    @include font(500, 12px, 22px, 0.04em);
    color: $secondary-color;
  }
}

// Стили для планшета
@media screen and(min-width:768px) {
  .contacts-section {
    padding-top: 60px;
    padding-bottom: 76px;
    background-image: linear-gradient(to bottom, $secondary-color 15%, $primary-bgcolor 10%);
  }

  .contacts-list {
    display: flex;
    margin-bottom: 81px;

    &__item {
      width: 32%;
      padding: 50px 32px;
      margin-right: 20px;

      &:nth-child(3n + 3) {
        margin-right: 0px;
      }
    }
  }

  .institution {
    margin-bottom: 30px;
    width: 73px;
    height: 28px;
    &_green {
      width: 138px;
    }

    &__name {
      @include font(500, 16px, 30px, 0.04em);
    }
  }

  .city {
    padding-bottom: 30px;
    &__name {
      @include font(500, 14px, 26px, 0.04em);
    }
    &__description {
      @include font(500, 14px, 23px, 0em);
    }
  }

  .timetable {
    padding-bottom: 30px;
    padding-top: 30px;
    &__day {
      @include font(500, 14px, 26px, 0em);
    }
    &__time {
      @include font(500, 14px, 26px, 0em);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .contacts {
    padding-top: 30px;
    &__phone,
    &__mail {
      @include font(500, 14px, 26px, 0em);
    }
  }

  .contacts-btn-container {
    display: flex;
    justify-content: center;
  }

  .contacts-accent-btn {
    padding: 10px 33px;
    margin-right: 15px;
  }

  .contacts-light-btn {
    padding: 10px 38px;
  }
}

// Стили для десктопа
@media screen and(min-width:1280px) {
  .contacts-section {
    padding-top: 66px;
    padding-bottom: 82px;

    background-image: url('/images/desktop/contacts/contacts-background@1x.png'),
      linear-gradient(to bottom, $secondary-color 23%, $primary-bgcolor 10%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 45%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/desktop/contacts/contacts-background@2x.png'),
        linear-gradient(to bottom, $secondary-color 23%, $primary-bgcolor 10%);
    }
  }

  .contacts-list {
    margin-bottom: 86px;

    &__item {
      padding: 51px 44px 62px 44px;
      margin-right: 31px;

      &:nth-child(3n + 3) {
        margin-right: 0px;
      }
    }
  }

  .institution {
    margin-bottom: 31px;

    &__name {
      @include font(500, 16px, 30px, 0.04em);
    }
  }

  .city {
    padding-bottom: 30px;

    &__name {
      @include font(500, 16px, 30px, 0.04em);
    }

    &__description {
      @include font(500, 16px, 29px, 0.04em);
    }
  }

  .timetable {
    padding-bottom: 32px;
    padding-top: 32px;

    &__day {
      @include font(500, 16px, 30px, 0.04em);
    }

    &__time {
      @include font(500, 16px, 30px, 0.04em);

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .contacts {
    padding-top: 32px;
    &__phone,
    &__mail {
      @include font(500, 16px, 29px, 0em);
    }
  }
}
