.products {
  padding-top: 60px;
  padding-bottom: 49px;
}

.products .container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.products__social_list {
  margin-top: 144px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 157px;
    margin-left: -20px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 259px;
  }
}

.products__social_item {
  position: relative;
  border-radius: 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 129px;
  }
  &:before {
    content: '. . .';
    position: absolute;
    left: 45%;
    top: 205px;
    font-family: $acent-font;
    @include font(400, 20px, 23px, 0.04em);
    color: $secondary-color;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    align-content: flex-start;
    width: 220px;

    &:not(:last-child) {
      margin-top: unset;
      margin-bottom: unset;
    }

    &:before {
      top: 195px;
    }
  }
  @media screen and (min-width: 1280px) {
    &:before {
      top: 215px;
    }
  }
}

.ice_cream {
  background-color: #ffb8ca;
}

.ice_coffee {
  background-color: #f0d1a5;
}

.milkshakes {
  background-color: #c2e297;
}

.products__img {
  position: absolute;
  bottom: 70%;
  left: 0;

  @media screen and (min-width: 768px) {
    bottom: 80%;
  }
}

.products__social_title {
  font-family: $acent-font;
  @include font(400, 20px, 23px, 0.04em);
  text-transform: uppercase;

  color: $secondary-color;
  margin-bottom: 66px;
  margin-top: 161px;

  @media screen and (min-width: 768px) {
    margin-top: 152px;
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 30px, 34px, 0.04em);
    margin-top: 163px;
  }
}

.products__social_text {
  display: inline-block;
  font-family: $primary-font;
  @include font(700, 14px, 21px, 0.04em);

  color: $secondary-color;

  margin-bottom: 111px;
  width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    @include font(700, 14px, 25px, 0.04em);
    margin-bottom: 120px;
    width: 198px;
  }

  @media screen and (min-width: 1280px) {
    @include font(700, 16px, 28px, 0.04em);
    margin-bottom: 152px;
    width: 241px;
  }
}

.products__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $secondary-color;
  right: 43%;
  bottom: 41px;

  @media screen and (min-width: 768px) {
    right: 41%;
  }

  @media screen and (min-width: 1280px) {
    bottom: 50px;
    right: 43%;
  }
}

.products__btn_icon {
  width: 10px;
  height: 10px;
  fill: $primary-color;
}
.footer {
  padding-top: 56px;
  padding-bottom: 25px;
  background-color: $primary-bgcolor;

  @media screen and (min-width: 768px) {
    padding-top: 79px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 10px;
  }
}

.footer__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 91px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 97px;
    }
  }
}

.footer__heading {
  width: 234px;

  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    width: unset;
  }
}

.footer__social_list {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;

  @media screen and (min-width: 768px) {
    margin-top: unset;
  }
}

.footer__social_item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.footer__social_icon {
  width: 20px;
  height: 20px;
  fill: $secondary-color;
}
.footer__social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $icon-bgcolor;

  &:hover,
  &:focus {
    background-color: $primary-color;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer__item {
  margin-top: 46px;
  margin-bottom: 43px;
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 1280px) {
    margin-bottom: unset;
  }
}

.footer__appeal {
  font-family: $primary-font;
  @include font(700, 12px, 22px, 0em);
  color: $dark-color;
  font-style: normal;

  @media screen and (min-width: 768px) {
    @include font(700, 14px, 26px, 0em);
  }

  @media screen and (min-width: 1280px) {
    @include font(700, 16px, 30px, 0.02em);
  }
}

.footer__tel {
  font-family: $primary-font;
  @include font(500, 12px, 22px, 0em);
  color: $primary-color;
  font-style: normal;

  &:hover,
  &:focus {
    color: $suptitle-color;
  }

  @media screen and (min-width: 768px) {
    @include font(500, 14px, 26px, 0em);
  }
  @media screen and (min-width: 1280px) {
    @include font(500, 16px, 30px, 0.02em);
  }
}

.footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.footer__copyright::before {
  position: absolute;
  width: 100vw;
  content: '';
  border: 1px solid $band-color;
}

.footer__copyright_text {
  margin-top: 22px;
  width: 149px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  @include font(700, 14px, 21px, 0em);
  color: $description-color;

  @media screen and (min-width: 768px) {
    width: unset;
    @include font(700, 14px, 26px, 0.02em);
    margin-top: 29px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 9px;
  }
}
