.footer {
  // position: relative;
  padding-top: 56px;
  padding-bottom: 25px;
  background-color: $primary-bgcolor;
  // &::before {
  //   position: absolute;
  //   width: 100vw;
  //   content: '';
  //   border: 1px solid $band-color;

  //   bottom: 89px;

  //   @media screen and (min-width: 768px) {
  //     bottom: 73px;
  //   }

  //   @media screen and (min-width: 1280px) {
  //     bottom: 45px;
  //   }
  // }

  // @media screen and (min-width: 768px) {
  //   padding-top: 79px;
  //   padding-bottom: 18px;
  // }

  // @media screen and (min-width: 1280px) {
  //   padding-bottom: 10px;
  // }
}

.footer__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 91px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 97px;
    }
  }
}

.footer__heading {
  width: 234px;

  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    width: unset;
  }
}

.footer__social_list {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;

  @media screen and (min-width: 768px) {
    margin-top: unset;
  }
}

.footer__social_item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.footer__social_icon {
  width: 20px;
  height: 20px;
  fill: $secondary-color;
}
.footer__social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $icon-bgcolor;

  &:hover,
  &:focus {
    background-color: $primary-color;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer__item {
  margin-top: 46px;
  margin-bottom: 43px;
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 1280px) {
    margin-bottom: unset;
  }
}

.footer__appeal {
  font-family: $primary-font;
  @include font(700, 12px, 22px, 0em);
  color: $dark-color;
  font-style: normal;

  @media screen and (min-width: 768px) {
    @include font(700, 14px, 26px, 0em);
  }

  @media screen and (min-width: 1280px) {
    @include font(700, 16px, 30px, 0.02em);
  }
}

.footer__tel {
  font-family: $primary-font;
  @include font(500, 12px, 22px, 0em);
  color: $primary-color;
  font-style: normal;

  &:hover,
  &:focus {
    color: $suptitle-color;
  }

  @media screen and (min-width: 768px) {
    @include font(500, 14px, 26px, 0em);
  }
  @media screen and (min-width: 1280px) {
    @include font(500, 16px, 30px, 0.02em);
  }
}

.footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-around;
  // margin-top: 9px;

  &::before {
    position: absolute;
    width: 100vw;
    content: '';
    border: 1px solid $band-color;
  }
}

.footer__copyright_text {
  padding-top: 22px;
  width: 149px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  @include font(700, 14px, 21px, 0em);
  color: $description-color;

  @media screen and (min-width: 768px) {
    width: unset;
    @include font(700, 14px, 26px, 0.02em);
    padding-top: 29px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 9px;
  }
}
