.gallery {
  padding-top: 49px;
  padding-bottom: 40px;
  background-image: linear-gradient(to bottom, #fff5f6 43.6%, #ffffff 43.6%, #ffffff);

  @media screen and(min-width:768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:1280px) {
    padding-top: 70px;
    padding-bottom: 61px;
  }
}

.grid {
  margin: 0 auto;
  position: relative;
  width: 280px;
  display: grid;
  grid-auto-flow: dense;

  @media screen and(min-width:768px) {
    width: 620px;
  }

  @media screen and(min-width:1280px) {
    width: 1050px;
  }
}

.gutter_sizer {
  width: 4px;
  @media screen and(min-width:768px) {
    width: 8px;
  }
  @media screen and(min-width:1280px) {
    width: 10px;
  }
}

.grid__item {
  float: left;
  // width: 36px;
  width: 90px;
  // margin-bottom: 4px;
  margin-bottom: 4px;

  @media screen and(min-width:768px) {
    // width: 85px;
    width: 180px;
    margin-bottom: 8px;
  }

  @media screen and(min-width:1280px) {
    // width: 140px;
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.grid__item_gigante {
  // width: 72px;
  width: 180px;

  @media screen and(min-width:768px) {
    // width: 170px;
    width: 360px;
  }

  // @media screen and(min-width:1280px) {
  //   width: 280px;
  // }
}

.animate__pulse:hover {
  // .animate__pulse:focus {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  // animation-iteration-count: 2;
}
