.header__container {
  @include flex-center;
  position: absolute;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  transform: translateX(-50%);
  left: 50%;
}

.icon-burger {
  fill: #d41443;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;
  height: 15px;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 6px;
  }

  .buy-now__btn-tablet {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .navigation {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 37px 34px 0px;
    transform: translateX(-50%);
    left: 50%;
  }

  .buy-now__btn {
    min-width: 160px;
    max-width: 250px;
  }

  .buy-now__btn-tablet {
    min-width: 160px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    @include font(700, 16px, 21px, 0.05em);
    @include flex-center;
    margin-left: 30px;
    color: #d41443;
    border: none;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  .buy-now__btn-tablet {
    margin-left: 0px;
  }
}

.header__menu_btn {
  @include flex-center;
}

.is-open {
  transform: translateX(0);
  z-index: 501;
}

.navigation__list {
  display: flex;
  margin: 0px 110px;
}

.navigation__item:not(:last-child) {
  margin-right: 35px;
}

.navigation__link {
  @include font(700, 16px, 21px, 0.03em);
  color: #fff;
  z-index: 2;
}
