.hero {
  background-color: $first-card-bgcolor;
  padding-top: 193px;
  padding-bottom: 160px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding: 102px 0 173px;
  }

  @media screen and (min-width: 1280px) {
    padding: 171px 0 292px;
  }
}

.hero .container {
  position: relative;
}

.hero__title {
  position: sticky;
  font-family: $acent-font;
  @include font(400, 26px, 30px, 0.04em);
  text-transform: uppercase;
  color: $secondary-color;
  width: 218px;
  margin-bottom: 19px;
  z-index: 100;

  @media screen and (min-width: 768px) {
    @include font(400, 22px, 25px, 0.04em);
    width: 162px;
    color: $secondary-color;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 277px;
    @include font(400, 38px, 44px, 0.04em);
    margin-bottom: 25px;
  }
}

.hero__span {
  @include font(400, 48px, 46px, 0.04em);
  text-transform: uppercase;

  color: $primary-color;

  @media screen and (min-width: 768px) {
    @include font(400, 34px, 31px, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 52px, 0.04em);
  }
}

.hero__list {
  display: flex;
  align-items: center;
}

.hero__item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}

.hero__link {
  position: sticky;
  z-index: 50;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 7px 14px;
  border-radius: 20px;

  font-family: $primary-font;
  @include font(400, 8px, 10px, 0em);

  transition: color 250ms linear, background-color 250ms linear;

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 18px, 0em);
    padding: 12px 21px;
  }
}

.hero__circle {
  position: absolute;
  top: -110px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;

  background-color: $suptitle-color;

  animation: animate_pulse 2s ease 1;
  @keyframes animate_pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    }
  }

  @media screen and (min-width: 768px) {
    top: -71px;
    left: 307px;
    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: 1280px) {
    top: -119px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.hero__img_main {
  position: absolute;
  bottom: -160px;
  right: 20px;
  z-index: 25;
  width: 171px;
  height: 410px;

  animation: animate_motion 4s 0s both ease 1;
  @keyframes animate_motion {
    0%,
    20% {
      transform: translate3d(0, 0, 0);
    }
    10%,
    14%,
    18%,
    2%,
    6% {
      transform: translate3d(-7px, 0, 0);
    }
    12%,
    16%,
    4%,
    8% {
      transform: translate3d(7px, 0, 0);
    }
  }

  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    bottom: -173px;
    right: 248px;
  }

  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 557px;
    bottom: -292px;
    right: 450px;
  }
}

.hero__img_left {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 124px;
    height: 126px;
    bottom: -145px;
    left: 34px;
    z-index: 11;

    animation: mymoveleft 2s ease 1;
    @keyframes mymoveleft {
      0% {
        transform: translateX(-100px);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  @media screen and (min-width: 1280px) {
    width: 188px;
    height: 191px;
    bottom: -247px;
    left: 77px;
  }
}

.hero__img_right {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 168px;
    height: 133px;
    bottom: -173px;
    right: 35px;

    animation: mymoveright 2s ease 1;
    @keyframes mymoveright {
      0% {
        transform: translateX(100px);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
    bottom: -292px;
    right: 109px;
  }
}

.hero__overlay {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    left: 154px;
    bottom: -139px;
  }
  @media screen and (min-width: 1280px) {
    bottom: -236px;
    left: 295px;
  }
}

.hero__posistion {
  display: flex;
  flex-direction: column-reverse;
}

// круглая светлая кнопка
.hero__overlay_btn {
  @include flex-center;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: transparent;

  fill: $primary-color;
  background-color: $secondary-color;

  transition: background-color 250ms linear, fill 250ms linear;

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus {
    fill: $secondary-color;
    background-color: $primary-color;
  }

  &:hover + .hero__overlay_wrapper,
  &:focus + .hero__overlay_wrapper {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero__overlay_wrapper {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 250ms linear, transform 250ms linear;
}

.hero__overlay_text {
  @include font(400, 8px, 12px, 0.04em);
  width: 114px;
  margin-bottom: 7px;

  color: $secondary-color;

  transition: transform 250ms linear;

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 20px, 0.04em);
    width: 200px;
    margin-bottom: 20px;
  }
}

.mini-circle {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 35px;
    top: -8px;
    //     right: 37px;
    //     top: 8px;
  }

  @media screen and (min-width: 1280px) {
    top: 11px;
    right: 102px;
  }
}

.mini-circle__item:not(:last-child) {
  margin-bottom: 41px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}

.mini-circle__wrapper {
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $secondary-color;
  }

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.hero-avantages {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    right: 42px;
    top: -5px;
  }

  @media screen and (min-width: 1280px) {
    top: 15px;
    right: 120px;
  }
}

.hero-avantages__item:not(:last-child) {
  margin-bottom: 14px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 18px;
  }
}

.hero__text {
  font-family: $acent-font;
  @include font(400, 28px, 32px, 0.04em);
  text-transform: uppercase;
  color: $primary-color;
  z-index: 500;

  @media screen and (min-width: 1280px) {
    @include font(400, 46px, 53px, 0.04em);
  }
}

.hero__suptext {
  @include font(400, 8px, 10px, 0em);
  text-align: right;

  color: $secondary-color;

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 18px, 0em);
  }
}
