.products{
    &__container{
        padding-top: 121px;
        padding-bottom: 94px;
        padding-left: 20px;
        padding-right: 20px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            padding-bottom: 121px;
            padding-left: 34px;
            padding-right: 34px;
        }
        @media screen and (min-width: 1280px){
            padding-top: 127px;
            padding-left: 117px;
            padding-right: 116px;
        }
    }
    &__suptitle{
        @include flex-center ;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            @include font(400, 29px, 29.77px, 0em);
        }
        @media screen and (min-width: 1280px){
            @include font(400, 30px, 34.35px, 0.04em)

        }
    }
    &__title{
        @include flex-center ;
        margin-top: 5px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            @include font(400, 48px, 54.94px, 0.04em);
            margin-top: 15px;
        }
        @media screen and (min-width: 1280px){
            @include font(400, 58px, 66.41px, 0.06em)
        }
    }
    &__grid{
        display: flex;
        flex-direction: column;
        margin-top: 144px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            flex-direction: row;
        }
        @media screen and (min-width: 1280px){
            flex-direction: row;
        
        }
    }
    &__item{
        width: 280px;
        padding: 0 40px;
        
        @media screen and (min-width: 768px) and (max-width: 1279px){
            padding: 0 11px;
        }
        @media screen and (min-width: 1280px){
            padding: 0 44px;
        }
    }
    &__item:not(:last-child){
        margin-bottom: 130px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            margin-bottom: 0px;
            margin-right: 20px;
        }
        @media screen and (min-width: 1280px){
            margin-right: 30px;
        }
    }
    .icecofee{
        background-color: $second-card-bgcolor;
    }
    .milkshakes{
        background-color: $third-card-bgcolor;
    }
    &__item{
        width: 280px;
        padding-bottom: 40px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            padding: 0 11px;
        }
        @media screen and (min-width: 1280px){
            padding: 0 45px;
        }
    }
    &__card{
        width: 280px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        background-color: $first-card-bgcolor;
        border-radius: 24px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            padding-left: 11px;
            padding-right: 11px;
        }
        @media screen and (min-width: 1280px){
           padding-left: 45px;
           padding-right: 45px;
        }
    }
    .card-image{
            display: block;
            width: 100%;
            @media screen and (min-width: 768px) and (max-width: 1279px) {
                
            }
    }
    &__hidden{
        @include flex-center ;
        padding-top: 22px;
        font-family: $acent-font;
        color: white;
        @include font(400, 20px, 22.9px, 0.04em);
        @media screen and (min-width: 768px) and (max-width: 1279px){
            padding-top: 30px;
        }
        @media screen and (min-width: 1280px){
            padding-top: 38px;
        }
    }
    .dotes{
        margin-top: 30px;
        margin-bottom: 30px;
        @include flex-center ;
        flex-direction: row;
        padding: 0;
        
    }
    .dotes-item:nth-child(2){
            margin-right: 4px;
            margin-left: 4px;
        }

    .svg{
        margin: 0;
            width: 6px;
            height: 6px;
            fill: $secondary-color;
        }
    
    &__description{
      margin: 0 auto;
        text-align: center;
        font-family: $primary-font;
        @include font(700, 14px, 21.28px, 0.04em);
        width: 200px;
        @media screen and (min-width: 768px) and (max-width: 1279px){
            @include font(700, 14px, 26.64px, 0.04em)
        }
        @media screen and (min-width: 1280px){
            @include font(700, 16px, 28.16px, 0.04em)
        }
    }
    &__btn{
        @include flex-center ;
        margin: 40px auto ;
        @include flex-center;
        
         border-radius: 50%;
            
            border: transparent;
            background-color: $secondary-color;
            width: 26px;
            height: 26px;
            transition: background-color .25s cubic-bezier(.4,0,.2,1);
    }
    &__btn:hover,
    &__btn:focus > .arrow-svg{
        background-color: $primary-color;
        fill: $secondary-color;
    }
.arrow-svg{
        width: 6px;
        height: 6px;
        @include flex-center ;
    }
   

}