.reviews {
  padding-top: 40px;
  padding-bottom: 43px;
  font-family: $primary-font;

  @media screen and(min-width:768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:1280px) {
    padding-top: 61px;
    padding-bottom: 66px;
  }
}

.reviews__client--icon {
  width: 85px;
  height: 85px;
}

.reviews__client_border {
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 87, 5%;

  &::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 61px;
    z-index: 1;
    display: block;
    width: 54px;
    height: 40px;
    background-image: url('../images/reviews/quotes.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media screen and(min-width:768px) {
      top: 30px;
      left: 40px;
    }

    @media screen and(min-width:1280px) {
      top: 32px;
      left: 50px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 124px;
    z-index: 2;
    display: block;
    width: 32px;
    height: 4px;
    margin-top: 18px;
    background-image: url('../images/reviews/dots.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media screen and(min-width:768px) {
      bottom: -24px;
      left: 294px;
    }

    @media screen and(min-width:1280px) {
      bottom: -15px;
      left: 446px;
    }
  }

  background-color: $reviews-bgcolor;

  @media screen and(min-width:320px) {
    width: 280px;
    padding-top: 43px;
    padding-bottom: 26px;
    // padding-left: 62px;
    // padding-right: 62px;
    margin-bottom: 52px;
  }

  @media screen and(min-width:768px) {
    width: 620px;
    padding-top: 47px;
    padding-bottom: 34px;
    // padding-left: 38px;
    // padding-right: 38px;
    margin-bottom: 42px;
  }

  @media screen and(min-width:1280px) {
    width: 926px;
    padding-top: 47px;
    padding-bottom: 39px;
    // padding-left: 52px;
    // padding-right: 52px;
    margin-bottom: 34px;
  }
}

.reviews__client_text {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.56;

  @media screen and(min-width:320px) {
    width: 157px;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,
      #e1e1e1 29px,
      #e1e1e1 30px
    );
  }

  @media screen and(min-width:768px) {
    width: 460px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;

    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 28px,
      #e1e1e1 28px,
      #e1e1e1 29px
    );
  }

  @media screen and(min-width:1280px) {
    width: 750px;
    font-size: 16px;
    line-height: 1.88;
  }
}

.reviews__client_name {
  font-weight: 500;

  font-size: 14px;
  line-height: 1.86;

  @media screen and(min-width:768px) {
    font-size: 16px;
  }

  @media screen and(min-width:1280px) {
    font-size: 20px;
  }
}

.reviews__client_icon {
  margin: 0 auto;
  margin-bottom: 30px;
  width: unset;
}

// ============== СЛАЙДЕР =============

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider__item {
  margin: 0 auto;
  text-align: center;
  color: $dark-color;
}

.slider .slick-dots {
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  display: flex;
  margin: 0 10px;
  list-style: none;
}

.slider .slick-dots li.slick-active button {
  background-color: #ffffff;
  background-image: url('../images/reviews/home.svg');
  background-size: contain;
}

.slider .slick-dots li button {
  padding: 0;
  border: 0;
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
